body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cabecalho {
  background-color: #b2caff;
  border-radius: 5px;
  border: 2px solid #05359e;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 1.5;
  color: #003098;
}

.cabecalho h1 {
  font-weight: bold;
  font-size: 25px;
}

.cabecalho h2 {
  font-weight: 500;
  font-size: 20px;
}

.titulo {
  font-weight: bold;
  text-align: center;
  background-color: #0034a4;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
}

.componente {
  margin: 15px;
  border: 1px solid #0034a4;
  border-radius: 5px;
}

.controle {
  margin: 15px;
  margin-bottom: 20px;
}

.input-valores {
  width: 60px;
}

.controle-range {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.range {
  margin-right: 15px;
  margin-left: 15px;
}

.resultado {
  border: 1px solid #000;
  width: 215px;
  height: 122px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

#title-box {
  border: 1px solid #999;
  position: relative;
  top: 65px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

footer {
  background-color: #f1f5f8;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 450px;
  margin: 0 auto;
}

.perfil {
  margin-right: 10px;
  margin-top: 5px;
  font-weight: 500;
}

.redes-sociais img {
  height: auto;
  width: 25px;
}

.redes-sociais a {
  text-decoration: none;
}

em {
  font-style: italic;
}

.left {
  float: left;
}

.right {
  float: right;
}
